.search-box {
    position: relative;
    width: 300px;
    height: 40px;
}

.search-box input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: transparent;
    border: 1px solid rgba(255, 255, 2555, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important;
    backdrop-filter: blur(10px);
}

.search-box input::placeholder {
    color: #ffffff;
}

.search-box ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 10px;
    color: white;
    border-right: 1px solid white;
}

.search-box input:focus {
    border: 1px solid var(--primary);
}

.search-box input:focus+ion-icon {
    color: var(--primary);
}

.search-container {
    position: relative;
    width: 300px;
    margin: 20px 0;
}

.search-container ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #191919;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: none;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;
    display: block;
    z-index: 1000;
    max-width: 300px;
}

.search-container ul li {
    list-style: none;
    color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 0.3s;
}

.search-container ul li:hover {
    background: var(--primary);
}

.search-container ul li button {
    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
}